<% content_for(:scripts) do %>
    <script type="text/javascript"> wmd_options = {	output: "Markdown" } </script>
    <%= javascript_include_tag 'wmd/wmd' %>
<% end %>

<% button_text = 'Post Nugget' if local_assigns[:button_text].nil? %>

<div class="nugget-form">
  <% form_for @nugget, :html => {:class => 'bp'} do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.label :title %><br />
      <%= f.text_field :title, :class => "title" %>
    </p>
    <p>
      <%= f.label :body %> <em>(You can format your Nugget using <a href="http://daringfireball.net/projects/markdown/basics" target="_blank">Markdown</a>)</em><br />
      <%= f.text_area :body %>
      <em>Nuggets can only have a maximum of <strong><%= Nugget.MAX_LENGTH %></strong> characters so get to the point ;o)</em>
      <span id="char-count"><%= @nugget.body.size %> characters so far</span>
    </p>
    <p>
      <%= f.label :tag_list %> <em>(Enter a list of tags separated by commas)</em><br />
      <%= f.text_field :tag_list %>
    </p>
    <%= f.label 'Preview' %> <em>(This is how your nugget will look once posted)</em>
    <div class="nugget-body wmd-preview"></div>

    <p>
      <%= f.submit button_text %>
    </p>
  <% end %>
</div>
