<% content_for(:title) do %> <%=h @nugget.title %> <% end %>

<div id="nugget-header">
    <h1><%=h @nugget.title %></h1>
    <div class="tweetmeme"><script type="text/javascript" src="http://tweetmeme.com/i/scripts/button.js"></script></div>
</div>

<div class="nugget-body">
  <%=markdown @nugget.body %>
</div>

<%= render :partial => 'shared/tags', :locals => {:nugget => @nugget} %>

<div class="nugget-info">
  <%= gravatar_for @nugget.user, :size => 32 %>
  By: <strong><%=h @nugget.user.username %></strong> When: <strong><%=h relative_date(@nugget.updated_at) %></strong>

  <% if can? :update, @nugget %>
    <%= link_to "Edit Nugget", edit_nugget_path(@nugget), :class => 'edit' %>
  <% end %>
</div>


