<% content_for(:title) do %> <%=h @nugget.title %> <% end %>

<h1><%=h @nugget.title %></h1>
<div class="nugget-body"><%=markdown @nugget.body %></div>

<div class="nugget-info">
  <%= gravatar_for @nugget.user, :size => 32 %>
  By: <strong><%=h @nugget.user.username %></strong> When: <strong><%=h relative_date(@nugget.updated_at) %></strong>
</div>


