<% content_for(:title) do %> <%=h @nugget.title %> <% end %>

<div id="nugget-header">
    <h1><%=h @nugget.title %></h1>
    <div class="tweetmeme"><script type="text/javascript" src="http://tweetmeme.com/i/scripts/button.js"></script></div>
</div>

<div class="nugget-body">
  <%=markdown @nugget.body %>
</div>

<%= render :partial => 'shared/tags', :locals => {:nugget => @nugget} %>

<div class="nugget-info">
  <%= gravatar_for @nugget.user, :size => 32 %>
  <%= render :partial => 'shared/model_with_user_details', :locals => { :model => @nugget } %>

  <% if can? :update, @nugget %>
    <%= link_to "Edit Nugget", edit_nugget_path(@nugget), :class => 'edit' %>
  <% end %>
</div>


<div class="comments">
  <h2><%= @nugget.comments.size %> Comments</h2>

  <% if @nugget.comments.size > 0 %>
      <% @nugget.comments.each do |comment| %>
        <div class="comment">
          <%= gravatar_for comment.user, :size => 32 %>
          <p><%=h comment.text %></p>
          <div class="comment-info"><%= render :partial => 'shared/model_with_user_details', :locals => { :model => comment } %></div>
        </div>
      <% end %>
  <% else %>
      <p>Be the first to comment on this nugget</p>
  <% end %>

  <% if can? :create, Comment %>
    <% form_for [@nugget, @comment], :html => {:class => 'bp'} do |f| %>
        <%= f.error_messages %>
        <p>
          <%= f.label :text, "Your comments:" %><br />
          <%= f.text_area :text %>
        </p>
        <p>
          <%= f.submit "Post Comment" %>
        </p>
    <% end %>
  <% end %>
</div>

