<% url = nil if local_assigns[:url].nil? #Allows the url param to be optional %>
<% button_text = 'Submit' if local_assigns[:button_text].nil? %>

<% form_for @user, :url => url, :html => {:class => 'bp'} do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :full_name %><br />
    <%= f.text_field :full_name %>
  </p>
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :email %> <em>(This email is used to show your <a href="http://gravatar.com" target="_blank">Gravatar</a>)</em><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :twitter_name %> <em>(If you add this, Twitter @anywhere will add hovercards to your nuggets)</em><br />
    <%= f.text_field :twitter_name %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p><%= f.submit button_text %></p>
<% end %>