<% content_for(:title) do %>Login<% end %>

<h1>Login</h1>
<% form_for @user_session, :html => {:class => 'bp'} do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.check_box :remember_me %><%= f.label :remember_me %>
  </p>
  <p class="last-vertical-block"><%= f.submit "Login" %></p>
<% end %>